/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'verdana', sans-serif;
    background: #000000;
    
    background-size: contain;
    color: #000000;
    text-align: center;
}

/* Link para pular conteúdo (acessibilidade) */
.skip-link {
    position: absolute;
    top: -40px;
    left: 0;
    background: black;
    color: white;
    padding: 10px;
    z-index: 100;
}
.skip-link:focus {
    top: 0;
}

/* Cabeçalho */
header {
    background: black;
    padding: 20px;
    color: white;
}

h1 {
    font-size: 20px;
    font-weight: bold;
}

/* Navegação */
#menu {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
}
#menu a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 5px;
}
#menu a:hover {
    background: white;
    color: #eb198c;
}

#language-menu{
    background-color: #000000;
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
}

#language-menu li a {
    color: #ffffff;    
    font-weight: bold;
}
    
/* Seção Hero */
#hero {
    padding: 40px;
    border-radius: 10px;
    margin: 20px auto;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

#hero h2 {
    color: #000000;
    font-size: 24px;
}

h3
{
    color: #000000;
    font-size: 24px;
}
#hero p {
    font-size: 18px;
    margin-top: 10px;
}

/* Categorias */
.category {
    display: flex;
    flex-direction: column;
    padding: 20px;
}
.category h2 {
    color: #000000;
    margin-bottom: 10px;
}

.item {
    display: flex;
    flex-direction: column;
    margin: 20px 0;
}
.item img {
    width: 100%;
    max-width: 300px;
    border-radius: 8px;
    transition: transform 0.2s ease-in-out;
}
.item img:hover {
    transform: scale(1.05);
}
.item p {
    margin-top: 10px;
    width: 450px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    font-size: 18px;
    align-self: center;
    text-align: justify;
    background: white;
}

.item {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 20px 0;
}

.item video {
    max-width: 300px;
    border-radius: 8px;
}

.item video {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.pv{
    display: flex;
    align-items: center;
    flex-direction: column;
    
}

/* Rodapé */
footer {
    background: #fff;
    padding: 20px;
    margin-top: 30px;
    font-size: 14px;
}

/* Colocar os nomes dos estabelecimentos em negrito */
span {
    font-weight: bold;
}

/* Link de voltar ao topo */
.topo {
    font-weight: bold;

}